{% extends "layout.html" %}

{% block title %}
    Welcome page
{% endblock %}

{% block main %}
    <div>
        <h1>Welcome to <span class="text-danger">Discuss</span><span>:</span><span class="text-primary">50</span></h1>
        <p>Here you can discuss the outcome of every week's problem set, Hope you enjoy everything and became a better programmer</p>
        {% for data in datas %}
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{data['percentage']}}% ">WEEK {{data["week"]}} / {{data['percentage']}}%</div>
        </div>
        <br>
        {% endfor %}
        <a href="/response"> <button class="btn btn-primary">Add Response</button></a>
    </div>
{% endblock %}